*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*0A9DD6*/

#wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

@font-face {
    font-family: 'DINPro-Bold';
    src: url(../fonts/DINPro-Bold.otf);
    src: url(../fonts/DINPro-Bold.ttf);
    src: url(../fonts/DINPro-Bold.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Regular';
    src: url(../fonts/DINPro-Regular.otf);
    src: url(../fonts/DINPro-Regular.ttf);
    src: url(../fonts/DINPro-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url(../fonts/DINPro-Medium.otf);
    src: url(../fonts/DINPro-Medium.ttf);
    src: url(../fonts/DINPro-Medium.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Light';
    src: url(../fonts/DINPro-Light.otf);
    src: url(../fonts/DINPro-Light.ttf);
    src: url(../fonts/DINPro-Light.woff);
    font-weight: normal;
    font-style: normal;
}

/*standard styling*/

body {
	text-align: center;
	background-color: #202529;
	color: #fff;
	font-family: 'DINPro-Regular' 'Arial' 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 1.4em;
	padding: 0.4em 0;
	margin: auto;
}
 
h1 {
	font-family: 'DINPro-Medium' 'Arial' 'sans-serif';
	font-weight: 400;
	font-size: 4em;
	line-height: 1.2em;
	text-align: left;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: 'DINPro-Light' 'Arial' 'sans-serif';
	font-weight: 100;
	font-size: 3em;
	line-height: 1.2em;
	padding: 0.4em 0;
}

h3 {
	font-family: 'DINPro-Bold' 'Arial' 'sans-serif';
	font-weight: 700;
	font-size: 3em;
	line-height: 1em;
	padding: 0;
}

h4 {
	font-family: 'DINPro-Medium' 'Arial' 'sans-serif';
	font-weight: 400;
	font-size: 1.5em;
	line-height: 1.4em;
	padding: 0.4em 0;
}

h5 {
	font-family: 'DINPro-Light' 'Arial' 'sans-serif';
	font-weight: 100;
	font-size: 1.4em;
	line-height: 1.2em;
	padding: 0.4em 0;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	padding: 0.8em 0;
}

b {
	font-size: 1em;
	font-weight: 700;
}

i {
	font-style: italic;
}

ul {
	font-size: 1em;
	list-style-type: circle;
	text-align: left;
	margin-left: 0;
	padding-left: 1em;
	line-height: 1.4em;
}

li {
	margin-left: 2em;
}

a:link, a:visited {
	text-decoration: underline;
	padding: 0.4em 0;
	color: #fff;
}

a:hover, a:active {
	text-decoration: underline;
	font-weight: 700;
	padding: 0.4em 0;
	color: #fff;
}

button {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border: none;
	outline: none;
	color: #fff;
	font-family: 'DINPro-Light' 'Arial' 'sans-serif';
}

button:hover {
	background-color: #fff;
	color: #6e1eb8;
}


.clearfix {
	clear: both;
}

#menu-button {
	display: none;
}

#close-menu {
	display: none;
}

header { 
	background-color: rgba(255,255,255,0);
	position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	height: 100px;
	width: 100%;
	z-index: 100;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

header.sticky {
	background-color: rgba(36,41,46,.5);
	padding: none;
	margin: none;
	top: 0;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index: 100;
}

header img {
	display: block;
	max-width: 150px;
	width: 25%;
	height: auto;
	float: left;
	margin: 20px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}


header.sticky img {
	max-width: 75px;
	height: auto;
	margin: 5px 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    width: 75%;
}

nav li {
    float: left;
    width: 16.6%;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 1.2em;
}

nav li a:link, nav li a:visited {
	color: #fff;
	text-decoration: none;
}

nav li a:hover, nav li a:active {
	text-decoration: none;
	font-weight: 700;
}

.scroll-image {
	padding: 5% 0 0 0;
}

#home {
	top: 0;
	background-image: url(../images/cover.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100vh;
}

#home-image {
	display: none;
}

#home-content {
	position: absolute;
	position: center;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	width: 100%;
	max-width: 1000px;
	margin-left: -500px;
}

#button-started {
	background-color: #0A9DD6;
	font-size: 1.2em;
	width: 220px;
	height: 50px;
	margin: 60px 10px 0 10px;
	border: solid #0A9DD6 1px;
}

#button-started:hover {
	color: #202529;
}

#button-more {
	background-color: rgba(32,37,41,.1);
	font-size: 1.2em;
	border: solid #fff 1px;
	width: 220px;
	height: 50px;
	margin: 60px 10px 0 10px;
}

#button-more:hover {
	background-color: #fff;
	color: #202529;
}

#why-genesys {
	background-color: #f8f8f8;
	width: 100%;
	margin: 0;
}

#why-genesys-statement {
	background-color: #0A9DD6;
	padding: 10% 15%;
}

#why-genesys-statistics {
	margin: 0;
	padding: 2% 10%;
}

.statistic {
	display: block;
	float: left;
	width: 25%;
	color: #063AD0;
	padding: 5%;
}

.statistic h2 {
	font-family: 'DINPro-Bold' 'Arial' 'sans-serif';
	font-size: 4em;
	line-height: 1em;
	padding: 0;
}

#platforms {
	margin: 0;
	padding: 0 0 10% 0;
	background-color: #24292E;
}

#platforms h2 {
	padding-top: 120px;
}

#platform-content {
	margin: 0 15%;
}

#platform-items {
	margin: 0 10%;
}

.platform-item {
	width: 33.33%;
	float: left;
	padding: 2%;
	height: 150px;
}

#capabilities {
	background-color: #f8f8f8;
	margin: 0;
	padding: 0 0 10% 0;
}

#capabilities-items {
	width: 1200px;
	margin: auto;
	padding-top: 120px;
}

#capabilities-content-large {
	display: block;
	width: 590px;
	height: 190px;
	float: left;
	background-color: #0A9DD6;
	color: #fff;
	text-align: center;
	padding: 2%;
	margin: 5px;
}

.capabilities-content {
	display: block;
	width: 290px;
	height: 190px;
	float: left;
	background-color: #0A9DD6;
	color: #fff;
	text-align: center;
	padding: 2%;
	margin: 5px;
}

.capabilities-content-grey {
	display: block;
	width: 290px;
	height: 190px;
	float: left;
	background-color: #696969;
	color: #fff;
	text-align: center;
	padding: 2%;
	margin: 5px;
}

.capabilities-image {
	display: block;
	width: 290px;
	height: 190px;
	float: left;
	padding: 0;
	margin: 5px;
	overflow: hidden;
}

.capabilities-image img {
	max-width: 290px;
}

.capabilities-image-large {
	display: block;
	width: 590px;
	height: 190px;
	float: left;
	padding: 0;
	margin: 5px;
	overflow: hidden;
}

.capabilities-image-large img {
	max-width: 590px;
}

#projects {
	top: 0;
	background-image: url(../images/chaos-diagram-background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color: #e1e1e1;
	width: 100%;
	min-height: 100vh;
	color: #202529;
	padding-bottom: 10%;
}

#projects h2 {
	padding-top: 120px;
}

#projects p {
	padding-left: 10%;
	padding-right: 10%;
}

#chaos-diagram {
	width: 1200px;
	padding: 40px 100px;
	margin-left: 50%;
	transform: translateX(-50%);
}

#chaos-diagram p {
	font-size: 1em;
	line-height: 1.2em;
	font-family: 'DINPro-Light' 'Arial' 'sans-serif';
	padding: 5px;
}

#chaos-diagram button {
	background-color: rgba(255,255,255,0);
	border: none;
	outline: none;
	padding: 0 1% 1% 1%;
	max-width: 150px;
	color: #202529;
	font-family: 'DINPro-Regular' 'Arial' 'sans-serif';
	font-size: 1em;
}

#chaos-diagram button:hover {
	background-color: rgba(32,37,42,.2);
}

#chaos-diagram button img {
	max-width: 100px;
	height: auto;
}

.close-popup p {
	margin-top: 10px;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 1.2em;
}

.popup {
	display: none;
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	width: 600px;
	background-color: #0A9DD6;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-box-shadow: 5px 5px 8px 0px rgba(32,37,41,0.5);
	-moz-box-shadow: 5px 5px 8px 0px rgba(32,37,41,0.5);
	box-shadow: 5px 5px 8px 0px rgba(32,37,41,0.5);
}

.popup-content {
	margin: 5% 10% 10% 10%;
}

#cardiac {
	position: absolute;
	top: 20px;
	left: 10px;
}

#knee {
	position: absolute;
	top: 100px;
	left: 175px;
}

#exhaust {
	position: absolute;
	top: 215px;
	left: 10px;
}

#signage {
	position: absolute;
	top: 315px;
	left: 175px;
}

#surveillance {
	position: absolute;
	top: 475px;
	left: 10px;
}

#power {
	position: absolute;
	top: 540px;
	left: 175px;
}

#buildingmngt {
	position: absolute;
	top: 395px;
	left: 290px;
}

#elevator{
	position: absolute;
	top: 540px;
	left: 425px;
}

#its {
	position: absolute;
	top: 15px;
	left: 340px;
}

#syslog {
	position: absolute;
	top: 15px;
	right: 490px;
}

#smartoffice {
	position: absolute;
	top: 395px;
	left: 525px;
}

#pirsensor {
	position: absolute;
	top: 540px;
	left: 660px;
}

#tempsensor {
	position: absolute;
	top: 395px;
	left: 780px;
}

#narrowband {
	position: absolute;
	top: 540px;
	right: 120px;
}


#contact { 
	background-color: #0A9DD6;
	color: #fff;
	margin: 0;
	padding: 0 0 10% 0;
}

#contact h2 {
	padding-top: 120px;
}

.get-in-touch-form {
	display: block;
	width: 50%;
	float: center;
	text-align: left;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 40px;
}

::-webkit-input-placeholder {color: #202529;}
::-moz-placeholder {color: #202529;}
::-moz-placeholder {color: #202529;}
::-ms-input-placeholder {color: #202529;}

input[type=text] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #fff;
	width: 100%;
	padding: 2%;
	border: none;
	margin-bottom: 8px;
	font-size: 1em;
	font-weight: 100;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

input[type=text]:hover, input[type=text]:focus {
	outline: none;
	background-color: rgba(255,255,255,.5);
}

textarea {
	-webkit-appearance: none;
	-moz-appearance: none;background-color: #fff;
	width: 100%;
	padding: 2%;
	margin-bottom: 8px;
	border: none;
	resize: none;
	font-size: 1em;
	font-weight: 100;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

textarea:hover, textarea:focus {
	outline: none;
	background-color: rgba(255,255,255,.5);
}

input[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 50%;
	margin-left: 25%;
	padding: 1%;
	background-color: #0A9DD6;
	border: solid 1px #fff;
	color: #fff;
	font-size: 1.2em;
	font-family: 'DINPro-Light' 'Arial' 'sans-serif';
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

input[type=submit]:hover, input[type=submit]:focus {
	background-color: #fff;
	color: #0A9DD6;
}

footer {
	background-color: #24292E;
	color: #fff;
	padding: 1% 0;
	margin: 0;
}

footer a:link, a:visited {
	color: #fff;
	text-decoration: underline;
} 

footer a:hover, a:active {
	color: #fff;
	font-weight: 700;
}

#thank-you {
	background-color: #fff;
	background-image: url(../images/thank-you.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height: 100vh;
}

#thank-you-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 20%;
	padding-right: 20%;
}

#thank-you p {
	font-family: 'DINPro-Regular' 'Arial' 'sans-serif';
	font-size: 1.2em;
}

@media only screen and (max-width: 1200px) {

	header img {
		width: 25%;
	}

	nav ul {
		width: 75%;
	}

	nav li {
	    font-size: 1em;
	}

	#home-content {
		max-width: 800px;
		margin-left: -400px;
	}

	#platforms h2 {
		padding-top: 100px;
	}

	#platform-content {
		margin: 0 10%;
	}

	#platform-items {
		margin: 0 5%;
	}

	#capabilities-items {
		width: 900px;
		padding-top: 100px;
	}

	#projects h2 {
		padding-top: 100px;
	}

	#chaos-diagram {
		width: 1000px;
		padding: 40px 100px;
	}

	#chaos-diagram button {
		max-width: 120px;
	}

	#chaos-diagram button img {
		max-width: 80px;
	}

	#cardiac {
		top: 25px;
		left: 15px;
	}

	#knee {
		top: 90px;
		left: 140px;
	}

	#exhaust {
		top: 190px;
		left: 15px;
	}

	#signage {
		top: 270px;
		left: 140px;
	}

	#surveillance {
		top: 400px;
		left: 15px;
	}

	#power {
		top: 480px;
		left: 140px;
	}

	#buildingmngt {
		top: 340px;
		left: 260px;
	}

	#elevator{
		top: 480px;
		left: 300px;
	}

	#its {
		top: 25px;
		left: 295px;
	}

	#syslog {
		top: 25px;
		right: 410px;
	}

	#smartoffice {
		top: 340px;
		left: 450px;
	}

	#pirsensor {
		top: 480px;
		left: 565px;
	}

	#tempsensor {
		top: 340px;
		left: 650px;
	}

	#narrowband {
		top: 480px;
		right: 110px;
	}

	#contact h2 {
		padding-top: 100px;
	}
}

@media only screen and (max-width: 1025px) {

	#home {
		background-image: none;
	}

	#home-image {
		display: block;
		overflow: hidden;
	}

	#home-image img {
		width: auto;
		height: 100vh;
		overflow: hidden;
	}

	#menu-button {
		display: block;
	}

	#menu-button img {
		width: 24px;
		height: auto;
		float: right;
		padding: 0;
		margin-top: 15px;
		margin-right: 15px;
	}

	nav ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    float: none;
	    width: 100%;
	    position: fixed;
	    top: 0;
	    z-index: 1;
	}

	nav li {
	    text-align: center;
	    width: 100%;
	    background-color: rgba(32,37,42,.95);
	    margin: 0;
	    padding: 15px 0;
	}

	nav li a:link, nav li a:visited {
	    color: #fff;
	    font-size: 1.2em;
	    text-decoration: none;
	}

	#close-menu li {
		font-size: 1.5em;
	}

	nav li a:hover, nav li a:active {
		text-decoration: underline;
	}

	#close-menu li:hover, #close-menu li:active {
		text-decoration: underline;
	}

	#projects {
		background-image: none;
	}

	#chaos-diagram {
		width: 100%;
		padding: 2% 10%;
		margin-left: 0;
		transform: translateX(0);
	}

	#chaos-image {
		display: none;
	}
	
	#cardiac {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#knee {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#exhaust {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#signage {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#surveillance {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#power {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#buildingmngt {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#elevator{
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#its {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#syslog {
		position: static;
		top: none;
		right: none;
		margin: 15px;
	}

	#smartoffice {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#pirsensor {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#tempsensor {
		position: static;
		top: none;
		left: none;
		margin: 15px;
	}

	#narrowband {
		position: static;
		top: none;
		right: none;
		margin: 15px;
	}
}

@media only screen and (max-width: 900px) {
	
	#home-content {
		max-width: 600px;
		margin-left: -300px;
	}

	#why-genesys-statement {
		padding: 15%;
	}

	#why-genesys-statistics {
		padding-left: 5%;
		padding-right: 5%;
	}

	.statistic h2 {
		font-size: 3.5em;
	}

	.statistics h5 {
		font-size: 1.2em;
	}

	.platform-item {
		width: 50%;
		float: left;
		padding: 2%;
		height: 150px;
	}

	#capabilities-items {
		width: 600px;
	}

	#remove-mobile {
		display: none;
	}

	#add-mobile {
		display: block;
		float: left;
		width: 200px;
		height: 200px;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	#add-mobile img {
		max-width: 200px;
	}

	.get-in-touch-form {
		width: 70%;
		margin-top: 20px;
	}

}

@media only screen and (max-width: 600px) {

	h1 {
		font-size: 3em;
	}

	h5 {
		font-size: 1.5em;
	}

	#home-content {
		max-width: 400px;
		margin-left: -200px;
	}

	#button-started {
		margin: 0;
		margin-top: 40px;
		height: 40px;
	}

	#button-more {
		margin: 0;
		margin-top: 20px;
		height: 40px;
	}

	#why-genesys-statement {
		padding: 20% 10%;
	}

	.statistic {
		width: 50%;
	}

	#platform-content {
		margin: 0 10%;
	}

	#platform-items {
		margin: 0 5%;
	}

	.platform-item {
		width: 100%;
		float: left;
		padding: 2%;
		height: auto;
	}

	#capabilities-items {
		width: 400px;
	}

	#capabilities-items h2 {
		font-size: 2.5em;
	}

	#capabilities-content-large {
		width: 396px;
		margin: 2px;
	}

	.capabilities-content {
		width: 196px;
		margin: 2px;
	}

	.capabilities-content-grey {
		width: 196px;
		margin: 2px;
	}

	.capabilities-image{
		width: 196px;
		margin: 2px;
	}

	.capabilities-image img {
		transform: translateX(-15%);
	}

	.capabilities-image-large {
		width: 396px;
		margin: 2px;
	}

	.capabilities-image-large img {
		transform: translateX(-15%);
	}

	#remove {
		display: none;
	}

	#add-mobile {
		display: none;
	}

	#remove-mobile2 {
		display: none;
	}

	#add-mobile2 {
		display: block;
		width: 200px;
		height: 200px;
		float: left;
		overflow: hidden;
	}

	#add-mobile2 img {
		max-width: 200px;
	}

	#chaos-diagram {
		padding: 2% 5%;
	}

	.popup {
		width: 400px;
	}

	footer {
		padding-left: 5%;
		padding-right: 5%;
	}

}

@media only screen and (max-width: 400px) {

	h1 {
		font-size: 2em;
	}

	h5 {
		font-size: 1.2em;
	}

	#home-content {
		max-width: 280px;
		margin-left: -140px;
	}

	#why-genesys-statement {
		padding: 30% 5% 15% 5%;
	}
	
	#why-genesys-statistics h2 {
		font-size: 3em;
	}

	#why-genesys-statistics h5 {
		font-size: 1em;
	}

	.platform-item {
		width: 100%;
		float: left;
		padding: 2%;
		height: auto;
	}

	#capabilities-items {
		width: 300px;
		padding-top: 80px;
	}

	#capabilities-items h2 {
		font-size: 2em;
	}

	#capabilities-content-large {
		width: 296px;
		margin: 2px;
	}

	.capabilities-content {
		width: 296px;
		margin: 2px;
	}

	.capabilities-content-grey {
		width: 296px;
		margin: 2px;
	}

	.capabilities-image{
		width: 296px;
		height: 100px;
		margin: 2px;
	}

	.capabilities-image img {
		max-width: 296px;
		transform: translateY(-15%);
	}

	.capabilities-image-large {
		display: none;
	}

	#add-mobile {
		display: block;
		width: 280px;
		height: 180px;
	}

	#add-mobile img {
		max-width: 280px;
	}

	#add-mobile2 {
		display: none;
	}

	#chaos-diagram {
		padding: 2%;
	}

	#chaos-diagram button {
		max-width: 100px;
	}

	#chaos-diagram button img {
		max-width: 60px;
	}

	.popup {
		width: 280px;
	}

	.get-in-touch-form {
		width: 90%;
	}
}







