/*custom fonts*/

@font-face {
    font-family: body-font;
    src: url(../fonts/body-font.otf);
}

@font-face {
    font-family: heading-font;
    src: url(../fonts/heading-font.otf);
}


/*standard styling*/

body {
	text-align: center;
	background: #ffffff;
	color: rgb(255,255,255);
	font-family: "body-font", "Palatino", serif;
	font-style: normal;
	font-size: 100%;
	margin: auto;
}
 
h1 {
	font-family: "heading-font", "Century Gothic", sans-serif;
	font-weight: 100;
	font-size: 4em;
}

h2 {
	font-family: "heading-font", "Century Gothic", sans-serif;
	font-weight: 100;
	font-size: 3em;
	line-height: 1.2em;
	color: #0097AA;
}

h3 {
	font-family: "heading-font", "Century Gothic", sans-serif;
	font-weight: 500;
	line-height: 1.2em;
	font-size: 1.5em;
	color: #FF2A28;
}

p {
	font-size: 1.2em;
	font-weight: 100;
	line-height: 1.4em;
}

a {
	font-size: 1.2em;
	color: rgb(255,42,40);
}

ul {
	font-size: 1.2em;
	list-style-type: circle;
	list-style-position: inside;
	text-align: left;
	padding-left: 100px;
}

/*header section*/

#header { 
	background: #081517;
	color: #ffffff;
	padding-top: 1%;
	padding-bottom: 1%;
}

/*landing page hero section*/

#hero { 
	width: 100%; 
	position: relative; 
}
#hero video, #hero img {
    min-width: 100%;
    min-height: 100%;
    background: no-repeat;
    background-position: center;
    margin: 0;
	 }
.contents { 
	position: absolute; 
	position: center;
	top: 20%; 
	left: 50%; 
	width: 100%;
	max-width: 600px; 
	margin-left: -300px; 
}
#lp-title{
	font-family: "heading-font", "Century Gothic", sans-serif;
	font-size: 4em;
	font-weight: 100;
	line-height: 1.2em;
	background-color: rgba(8,21,23,.8);
	padding: 4% 3%;
	margin-bottom: 3%;
}
#lp-subhead {
	font-family: "heading-font", "Century Gothic", sans-serif;
	font-size: 1.75em;
	font-weight: 500;
	line-height: 1.4em;
	background-color: rgba(8,21,23,.8);
	padding: 4% 3%;
	margin-bottom: 5%;
}
#get-in-touch-button {
	font-family: "heading-font", "Century Gothic", sans-serif;
	font-size: 1.25em;
	font-weight: 900;
	color: #081517;
	background-color: rgba(255,255,255,.4);
	padding: 1% 2%;
	border: 1px;
	border-style: solid;
	border-color: #081517;
	text-align: center;	
    text-decoration: none;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
	.contents { 
		position: absolute; 
		position: center;
		top: 20%; 
		left: 50%; 
		width: 100%;
		max-width: 400px; 
		margin-left: -200px; 
	}
	#lp-title{
		font-family: "heading-font", "Century Gothic", sans-serif;
		font-size: 3.5em;
		font-weight: 100;
		line-height: 1.2em;
		background-color: rgba(8,21,23,.8);
		padding: 4% 3%;
		margin-bottom: 3%;
	}
	#lp-subhead {
		font-family: "heading-font", "Century Gothic", sans-serif;
		font-size: 1.5em;
		font-weight: 500;
		line-height: 1.4em;
		background-color: rgba(8,21,23,.8);
		padding: 4% 3%;
		margin-bottom: 5%;
	}
	#get-in-touch-button {
		font-family: "heading-font", "Century Gothic", sans-serif;
		font-size: 1.25em;
		font-weight: 900;
		color: #081517;
		background-color: rgba(255,255,255,.4);
		padding: 1% 2%;
		border: 1px;
		border-style: solid;
		border-color: #081517;
		text-align: center;	
    	text-decoration: none;
    	display: inline-block;
    }
}	

@media only screen and (max-width: 400px) {
	.contents { 
		position: absolute; 
		position: center;
		top: 20%; 
		left: 50%; 
		width: 100%;
		max-width: 250px; 
		margin-left: -125px; 
	}
	#lp-title{
		font-family: "heading-font", "Century Gothic", sans-serif;
		font-size: 3em;
		font-weight: 100;
		line-height: 1.2em;
		background-color: rgba(8,21,23,.8);
		padding: 4% 3%;
		margin-bottom: 3%;
	}
	#lp-subhead {
		font-family: "heading-font", "Century Gothic", sans-serif;
		font-size: 1.25em;
		font-weight: 500;
		line-height: 1.4em;
		background-color: rgba(8,21,23,.8);
		padding: 4% 3%;
		margin-bottom: 5%;
	}
	#get-in-touch-button {
		font-family: "heading-font", "Century Gothic", sans-serif;
		font-size: 1em;
		font-weight: 900;
		color: #081517;
		background-color: rgba(255,255,255,.4);
		padding: 1% 2%;
		border: 1px;
		border-style: solid;
		border-color: #081517;
		text-align: center;	
    	text-decoration: none;
    	display: inline-block;
    }
   }

/*landing page about us section*/

#about-us { 
	background: #ffffff;
	color: rgb(8,21,23);
	padding: 2% 30%;
}

@media only screen and (max-width: 600px) {
	#about-us { 
	background: #ffffff;
	color: rgb(8,21,23);
	padding: 2% 15%;
	}
}

/*landing page what we do section*/

#what-we-do { 
	background: #081517;
	color: #ffffff;
	padding: 2% 30%;
}

@media only screen and (max-width: 600px) {
	#what-we-do { 
	background: #081517;
	color: #ffffff;
	padding: 2% 15%;
	}
}

/*landing page who we serve section*/

#who-we-serve { 
	background-image: url(../images/northern-lights-test.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 2% 30%;
}

@media only screen and (max-width: 600px) {
	#who-we-serve { 
	background-image: url(../images/northern-lights-test.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 2% 15%;
	}
}

#who-we-serve-heading {
	color: #081517;
	background: rgba(255,255,255,.8);
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
}

#who-we-serve-content {
	color: #081517;
	background: rgba(255,255,255,.8);
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
}

/*landing page our work section*/

#our-work { 
	background: #ffffff;
	color: rgb(8,21,23);
	padding: 2% 30%;
}

@media only screen and (max-width: 600px) {
	#our-work { 
	background: #ffffff;
	color: rgb(8,21,23);
	padding: 2% 15%;
	}
}	

/*landing page get in touch section*/

#get-in-touch { 
	background: #081517;
	color: #ffffff;
	padding: 2% 20%;
}

/*footer section*/

.smallprint {
	font-size: .85em;
	background-color: #ffffff;
	color: #081517;
	padding-top: 1%;
	padding-bottom: 1%;
}
