*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

@font-face {
    font-family: 'GetVoIP Grotesque';
    src: url(../fonts/get-voip-grotesque.ttf);
    src: url(../fonts/get-voip-grotesque.otf);
}

/*standard styling*/

body {
	text-align: center;
	background: #E7E8E6;
	color: #fff;
	font-family: Verdana, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 14px;
	line-height: 1.4em;
	padding: 0.4em 0;
	margin: auto;
}
 
h1 {
	font-family: 'GetVoIP Grotesque', sans-serif;
	font-weight: 100;
	font-size: 4em;
	line-height: 1.2em;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: Verdana, sans-serif;
	font-weight: 100;
	font-size: 2.5em;
	line-height: 1.2em;
	padding: 0.4em 0;
}

h3 {
	font-family: 'GetVoIP Grotesque', sans-serif;
	font-size: 1.5em;
	line-height: 1.2em;
	padding: 1em 0;
}

h4 {
	font-family: Verdana, sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	line-height: 1.4em;
	padding: 0.4em 0;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	padding: 0.8em 0;
}

b {
	font-size: 1em;
	font-weight: 600;
}

i {
	font-style: italic;
	font-weight: 100;
}

ul {
	font-size: 1em;
	list-style-type: circle;
	text-align: left;
	margin-left: 0;
	padding-left: 1em;
	line-height: 1.4em;
}

li {
	margin-left: 2em;
}

a:link, a:visited {
	font-size: 1em;
	color: #fff;
	line-height: 1.4em;
	padding: 0.4em 0;
	text-decoration: underline;
}

a:hover, a:active {
	color: #fff;
	font-weight: 700;
}

.clearfix {
	clear: both;
}

/*header section*/

header { 
	background-color: rgba(255,255,255,0);
	padding: none;
	margin: none;
	top: 0;
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    width: 100%;
}

nav li {
    float: left;
    width: 20%;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li a:link, nav li a:visited {
    display: block;
    font-size: 1em;
    padding-top: 15px;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

nav li a:hover, nav li a:active {
	color: #fff;
	font-weight: 700;
	text-decoration: underline;
}

.top {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-bottom: 1%;
	margin-right: 2%;
	z-index: 100;
	color: #fff;
}

.top a:link, a:visited {
	color: #ffffff;
	text-decoration: none;
}

.top a:hover, a:active {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

#home {
	background-image: url(../images/cover.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	background-size: cover;
	height: 700px;
	width: 100%;
}

#homediv {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 15%;
	padding-right: 15%;
}

#intro {
	height: 300px;
	background-color: #071935;
	width: 100%;
}

#intro-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 20%;
}

#background1 {
	background-image: url(../images/background1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
}

.triangle2-top-right {
	float: right;
	height: 0;
    width: 0;
    border-left: 1600px solid transparent;
    border-top: 100px solid #071935;
}

.spacer-div {
	height: 200px;
	width: 100%;
	float: right;
}

.triangle2-bottom-right {
	float: right;
	height: 0;
    width: 0;
    border-left: 1600px solid transparent;
    border-bottom: 100px solid #22334E;
}

#program {
	height: 400px;
	background-color: #22334E;
	width: 100%;
}

#program-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 15%;
}

#team {
	height: 400px;
	background-color: #172234;
	width: 100%;
}

#team-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 15%;
}

#background2 {
	background-image: url(../images/background2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
}

#triangle2-top-left {
	float: left;
	height: 0;
    width: 0;
    border-right: 1600px solid transparent;
    border-top: 100px solid #172234;
}

#triangle2-bottom-left {
	float: right;
	height: 0;
    width: 0;
    border-right: 1600px solid transparent;
    border-bottom: 100px solid #071935;
}

#updates {
	height: 400px;
	background-color: #071935;
	width: 100%;
}

#updates-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 15%;
}

#background3 {
	background-image: url(../images/background3.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
}

#results {
	height: 400px;
	background-color: #22334E;
	width: 100%;
}

#results-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 15%;
}

#contact {
	height: 400px;
	background-color: #172234;
	width: 100%;
}

#contact-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 15%;
}


footer {
	background-color: #E7E8E6;
	color: #071935;
	padding: 1% 0;
	margin: 0;
}

footer a:link, a:visited, a:hover, a:active {
	color: #071935;
} 




@media only screen and (max-width: 400px) 

	